# Virtual env
.venv/
# Python cache & logs
__pycache__/
*.py[cod]
*.log
# Jupyter
.ipynb_checkpoints/
# Data & artifacts
data/
outputs/
checkpoints/
# Build
build/
dist/
*.egg-info/
# OS
.DS_Store
# BERT finetuning outputs / checkpoints
bert_mlm_finetuned/
bert_mlm_finetuned_epoch*/
bert_mlm_finetuned_fold*/